body {
	margin: 0px;
	background: #f0f0f0;
}
#wrapper {
	width: 1010px;
	margin: 0px auto;
	padding: 20px;
	background: #fff;
	border-top: 0px;
}
#header {
	position: relative;
}
#header .user {
	position: absolute;
	right: 0px;
	top: 10px;
}
#header h1 {
	font-family: 'Arial';
}
#menu {
	background: #eee;
}
#menu ul {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
}
#menu li {
	float: left;
	margin-right: 10px;
	list-style-type: none;
}
#menu li a {
	display: block;
	padding: 5px 8px;
	color: #000;
	text-decoration: none;
}
#menu li a:hover {
	color: #666;
}

.shop_block {
	height: 200px;
	display: block;
	background: #f4f4f4;
	font-size: 24px;
	line-height: 200px;
	text-align: center;
}
.item_block {
	min-height: 180px;
	text-align: center;
	display: block;
}
.item_block img {
	display: block;
	margin-bottom: 10px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	background: #fff;
}
.item_block .name {
	background: #f4f4f4;
	padding: 5px 0px;
}

.balloons {
	margin-top: 20px;
	margin-bottom: 25px;
}
.balloons .balloon {
	background: #DDF6FB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	line-height: 24px;
}
.balloons .balloon.price {
	text-align: right;
	font-size: 32px;
	font-weight: bold;
	color: #19c3e4;
	text-shadow: 0px 1px 0px #fff;
}
.btn.btn-shop {
	display: block;
	padding: 15px;
	background: #76b61c;
	color: #fff;
	text-shadow: 0px 1px 0px #50970d;
	font-size: 20px;
}
.btn.btn-shop:hover {
	color: #fff;
	background: #50970d;
}
.pictures_container {
	padding-bottom: 110px;
}
#product_pictures .ms-slide img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#product_pictures .ms-view {
	background: #fff;
}
.ms-thumb-list .ms-thumb {
	width: 150px;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.ms-thumb-frame {
	margin-right: 9px;
}
.ms-thumb-list {
	bottom: -104px;
}
.ms-thumb-frame:last-child {
	margin-right: 0px;
}

.openhours_table td {
	padding: 4px;
}

.errors {
	color: red;
}
#footer {
	width: 1010px;
	margin: 0px auto;
	padding: 5px 0px;
	text-align: right;
}

.form-row {
	margin-bottom: 15px;
}
.form-row input, .form-row textarea {
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #d9d9d9;
	color: #959595;
	font-size: 15px;
	padding: 11px 20px;
	max-width: 100%;
}
.form-row input[type="submit"] {
	background: #8ac473;
	border: 0px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	padding: 16px 35px;
	height: auto;
	line-height: 16px;
	width: auto;
	color: #fff;
}
.form-row input[type="submit"]:hover {
	background: #9bd385;
}


.upload_button {
	display: inline-block;
	background: #5bb247;
	color: #fff;
	border: 0px;
	padding: 0px 8px;
	line-height: 32px;
	height: 32px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 5px 0px 13px;
	cursor: pointer;
}
.upload_button:hover {
	background: #6bc157;
}
.upload_button_text {
	padding-left: 15px;
}
.prod_complete .find {
	margin-bottom: 5px;
}
.prod_complete .find input {
	height: 28px !important;
	width: 400px;
}
.prod_complete .find a {
	height: 30px !important;
	width: 30px;
	display: inline-block;
	background: url('../img/add.png') no-repeat;
	cursor: pointer;
	position: relative;
	top: 6px;
}
.prod_complete .added a {
	height: 16px !important;
	width: 16px;
	display: inline-block;
	background: url('../img/delete.png') no-repeat;
	cursor: pointer;
}
.prod_complete > input {
	display: none;
}

.cart {
	position: absolute;
	top: -20px;
	right: 0px;
	text-align: right;
	padding: 5px 10px;
}
.cart .info {
	cursor: pointer;
}
.cart:hover {
	background: #eee;
}
.cart.open {
	background: #DDF6FB !important;
}
#header .cart .cart_popup {
	display: none;
	position: absolute;
	top: 100%;
	right: 0px;
	padding: 10px 20px;
	background: #DDF6FB;
	width: 350px;
	z-index: 5;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.39);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.39);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.39);
}
#header .cart .cart_popup .actions {
	margin-top: 25px;
}
#header .cart .cart_popup .total {
	font-size: 16px;
	font-weight: bold;
}
#header .cart .cart_popup .items {
	margin: 0px;
	padding: 0px;
}
#header .cart .cart_popup .items li {
	list-style-type: none;
	display: table;
	width: 100%;
}
#header .cart .cart_popup .items li > div {
	display: table-cell;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
#header .cart .cart_popup .items li > div.item_name {
	text-align: left;
}
#header .cart .cart_popup .items li > div.item_count {
	text-align: right;
	width: 6.7%;
}
#header .cart .cart_popup .items li > div.item_price {
	text-align: right;
	width: 23.6%;
}

.cart_overview .items {
	padding: 0px;
	margin: 0px;
}
.cart_overview .items li {
	list-style-type: none;
	padding: 0px;
	display: table;
	width: 100%;
}
.cart_overview .items li > div {
	display: table-cell;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
.cart_overview .items li > div.item_image {
	text-align: left;
	width: 70px;
}
.cart_overview .items li > div.item_name {
	text-align: left;
	font-size: 16px;
	font-weight: 700;
}
.cart_overview .items li > div.item_count {
	text-align: right;
	width: 180px;
}
.cart_overview .items li > div.item_price {
	text-align: right;
	width: 23.6%;
	font-size: 16px;
	font-weight: 400;
}
.cart_overview .items li > div.item_count form {
	overflow: hidden;
	display: inline;
}
.cart_overview .items li > div.item_count input[type="text"] {
	width: 40px;
	margin-right: 6px;
	float: right;
}
.cart_overview .items li > div.item_count input[type="submit"] {
	float: right;
	width: 25px;
	background: #0090E3;
	border: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: center center;
	height: 26px;
	line-height: 26px;
	font-size: 0;
	line-height: 0;
}
.cart_overview .items li > div.item_count input[type="submit"].delete {
	margin-left: 6px;
	background: red;
	background-repeat: no-repeat;
	background-position: center center;
}

.cart_overview .total {
	margin-top: 15px;
}
.cart_overview .total .rowed {
	display: table;
	width: 100%;
}
.cart_overview .total .rowed > div {
	display: table-cell;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}
.cart_overview .total .rowed > div.label {
	text-align: right;
	color: #ccc;
	font-weight: 700;
	font-size: 16px;
}
.cart_overview .total .rowed > div.number {
	text-align: right;
	width: 23.6%;
	font-size: 16px;
	font-weight: 700;
}
.cart_overview .actions {
	text-align: right;
	margin-top: 25px;
}


div.post {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
div.post .title {
	font-weight: bold;
	font-size: 18px;
	margin-top: 0px;
}
div.post .date {
	padding: 5px 10px;
	background: #DD3333;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 8px;
}
div.post .image {
	margin-bottom: 15px;
}
div.post .image img {
	width: 100%;
	height: auto;
}
.post_social ul {
	overflow: hidden;
	padding: 0px;
	margin: 40px 0px;
}
.post_social li {
	padding: 0px;
	margin: 0px 25px 0px 0px;
	float: left;
	list-style-type: none;
}

.check_data_mail_col {
	border-bottom: 1px solid #eee;
}

.message_success {
    margin: 5px 0px 15px 0px;
    padding: 8px 14px;
    background: #5BB63D;
    border-color: #499131;
    color: #FFFFFF;
}